body {
    max-width:900pt;
    height: 1000px;
    margin: auto;
    background-color: black;
    margin-top: 10px;
}
.grid-container {
    margin: auto;
    max-width: 900px;
    height: 900px;
    background-color: white;
}
#header-grid {
    display:grid;
    grid-template-columns: .5fr 1.5fr;
    grid-template-rows: 200pt;
    column-gap:20pt;
    margin-right: 20pt;
}

.grid-item-3 {
    padding-left: 30pt;
    position:relative;
    top:-20pt;
}

#name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

.grid-item-2 {
    /* code to stretch the name (Nole Musk) */
    transform-origin: left;
    font-size: 2em;
    transform: scale(2,0.8);
    width:52%;
}

.grid-item-4 {
    position:relative;
    top:-20pt;
}

img {
    object-fit: cover;
    overflow: hidden;
    box-shadow: -5px 5px 3px;
    width: 125pt;
    height: 125pt;
    margin-left: 35pt;
    margin-top:20pt;
}

.columns {
    display:grid;
    grid-template-columns: .50fr 1.5fr;
    column-gap: 20pt;
    height:556px;
}

.columns > #left-column {
    text-align: center;
    line-height:35px;
    margin-left: 5pt;
    background-color: blueviolet;
    padding-top: 20pt;
}

#left-column > hr {
    margin: auto;
    width: 75%;
}


li:hover {
    -webkit-transform: scale(1.1);
}

article:hover {
    -webkit-transform: scale(1.1);
}

p:hover {
    -webkit-transform: scale(1.1);
}

i:hover {
    -webkit-transform: scale(1.5);
}

hr {
    width: 75%;
}

#name {
    width:85%;
    font-family: 'Oswald', sans-serif;

}

h2 {
    color: #645CBB;
    font-family: 'Oswald', sans-serif;
}

.stretch-text {
    letter-spacing: 5pt;
    margin-bottom: 10pt;
}

h3 {
    margin-top:10pt;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#name-div {
    margin-right: 80px;
}

#name-hr {
    height: 3px;
    color: darkgrey;
    width:190px;
    background-color: rgb(77, 74, 73);
}